<h2>Manual Entry</h2>
<%= simple_form_for [@user, @activity] do |f| %>

  <h4>Sport type</h4>
  <div class="form-inputs">
  <%= f.text_field :data, label: 'Insert data' %>
  </div>

  <div class="form-inputs">
  <%= f.input :metric, collection: @metrics, label_method: :name,:value_method => :id,:label => "Metric" ,
  :include_blank => false %>

  <div class="form-inputs">
  <%= f.text_field :data, label: 'Insert data' %>
  </div>

  </div>
   <div class="form-inputs">
  <%= f.input :metric, collection: @metrics, label_method: :name,:value_method => :id,:label => "Metric" ,
  :include_blank => false %>
  </div>
  <div class="form-inputs">
  <%= f.text_field :data, label: 'Insert data' %>
  </div>
  <h4>Date</h4>
  <div class="form-inputs">
  <%= f.date_field :date, label: 'Insert date' %>
  </div>
  <div class="form-inputs">
  <%= f.button :submit %>
  </div>
<% end %>