<nav class="sidenav">
  <ul class="pagenav">
    <li class><a href="">Device</a>
    </li>
    <li class><a href="">File</a>
    </li>
    <li class><a href="">Manual</a>
    </li>
  </ul>
</nav>

<%= simple_form_for @activity do |f| %>
  <%= f.association :user %>
  <%= f.association :metric %>
  <%= f.input :user_id,  wrapper_html: { class: 'user_id' } %>
  <%= f.input :metric_id, collection: 1..30 %>
<% end %>
