
<div class="manual adding">
  <div class="lead">
    <div class="col-sm-offset-4 col-sm-4">

      <%= simple_form_for @activity do |f| %>
        <div class="btn-group" role="group" aria-label="sports">
          <h3>Pick a sport</h3>
          <% Sport.all.each do |sport| %>
            <button type="button" class="btn btn-default"><%= sport.name %></button>
          <% end %>
        </div>
        <%= f.input :date, as: :string %>
        <%= f.input :metric %>

        <%= f.input :data, collection: 0..30 %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>


<%= content_for(:js) do %>
  <script type="text/javascript">
    $(function(){
      $('#activity_date').datetimepicker();
    });
  </script>
<% end %>